<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.my.shop.web.admin.dao.TbContentCategoryDao">
    <sql id="tbContentCategoryColumns">
        a.id,
        a.name,
        a.status,
        a.sort_order AS sortOrder,
        a.is_parent AS isParent,
        a.created,
        a.updated,
        IFNULL (b.id, '0') AS "parent.id",
        IFNULL (b.name, '/') AS "parent.name"
    </sql>

    <sql id="tbContentCategoryJoins">
        LEFT JOIN tb_content_category AS b ON a.parent_id = b.id
    </sql>

    <select id="getById" resultType="TbContentCategory">
        SELECT
        <include refid="tbContentCategoryColumns"/>
        FROM
        tb_content_category AS a
        <include refid="tbContentCategoryJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="selectByPid" resultType="TbContentCategory">
        SELECT
        <include refid="tbContentCategoryColumns"/>
        FROM
        tb_content_category AS a
        <include refid="tbContentCategoryJoins"/>
        WHERE a.parent_id = #{parentId}
    </select>

    <select id="selectAll" resultType="TbContentCategory">
        SELECT
        <include refid="tbContentCategoryColumns"/>
        FROM
        tb_content_category AS a
        <include refid="tbContentCategoryJoins"/>
        ORDER BY
        a.parent_id ASC,
        a.sort_order ASC,
        a.name ASC,
        a.is_parent DESC
    </select>

    <insert id="insert">
        INSERT INTO tb_content_category (
          `parent_id`,
          `name`,
          `status`,
          `sort_order`,
          `is_parent`,
          `created`,
          `updated`
        )
        VALUES
          (
            #{parent.id},
            #{name},
            #{status},
            #{sortOrder},
            #{isParent},
            #{created},
            #{updated}
          );
    </insert>

    <delete id="delete">
        DELETE FROM tb_content_category
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        UPDATE
          tb_content_category
        SET
          `id` = #{id},
          `parent_id` = #{parent.id},
          `name` = #{name},
          `status` = #{status},
          `sort_order` = #{sortOrder},
          `is_parent` = #{isParent},
          `created` = #{created},
          `updated` = #{updated}
        WHERE `id` = #{id}
    </update>
</mapper>